*.VC.db

ModDLL/.vs/**
ModDLL/Debug
ModDLL/*/Debug
ModDLL/x64
ModDLL/packages
ModDLL/SUPERHOTMCC.zip
ModDLL/*/.vs/**
ModDLL/*/Debug
ModDLL/*/*/Debug
ModDLL/*/x64

tmp
pointerscans

# RenderDoc captures
data/*.rdc